<div class="container">
  <div class="register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="/img/eyesondigit-logo-icon.png" alt=""/>
            <h3>Hello</h3>
            <p>Tell us a little about your business.</p>
            <input type="button" value="Home" [routerLink]="['/']"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" [routerLink]="businessRoutes.addBusiness" role="tab" aria-controls="business" aria-selected="true">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" [routerLink]="businessRoutes.addBranches" role="tab" aria-controls="branch" aria-selected="false">Branch</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- <router-outlet></router-outlet> -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Register a Business</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Business Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Business P.O.Box *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Business Loc" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"  placeholder="Business Add *" value="" />
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="Personal" checked>
                                        <span> Personal </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="Company">
                                        <span>Company </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Business Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Please select something</option>
                                    <option>selection 01</option>
                                    <option>selection 02</option>
                                    <option>selection 03</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Something *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Register"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Add Branches</h3>
                    <div class="row register-form">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Business Name *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Business P.O.Box *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Business Loc" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control"  placeholder="Business Add *" value="" />
                          </div>
                          <div class="form-group">
                              <div class="maxl">
                                  <label class="radio inline">
                                      <input type="radio" name="gender" value="Personal" checked>
                                      <span> Personal </span>
                                  </label>
                                  <label class="radio inline">
                                      <input type="radio" name="gender" value="Company">
                                      <span>Company </span>
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Business Email *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                          </div>
                          <div class="form-group">
                              <select class="form-control">
                                  <option class="hidden"  selected disabled>Please select something</option>
                                  <option>selection 01</option>
                                  <option>selection 02</option>
                                  <option>selection 03</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter Something *" value="" />
                          </div>
                          <input type="submit" class="btnRegister"  value="Register"/>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

  </div>

</div>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
