<div class="page-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <h4>Product List</h4>
      <h6>Manage your products</h6>
    </div>
  </div>
  <ul class="table-top-head">
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
      src="/img/icons/pdf.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
      src="/img/icons/excel.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Print" matTooltipPosition="above"><i
      class="fa-solid fa-print"></i></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above"><i
      class="fa-solid fa-arrows-rotate"></i></a>
    </li>
    <li>
      <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Collapse"
        matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
          <i class="fa-solid fa-chevron-up"></i>
      }
      @if (isCollapsed) {
        <i class="fa-solid fa-chevron-down"></i>
      }</a>
    </li>
  </ul>
  <div class="page-btn">
    <a [routerLink] = "'/'+routes.addProduct" class="btn btn-added"><i class="fa-regular fa-square-plus me-2"></i>Add New Product</a>
</div>
<div class="page-btn import">
  <a href="javascript:void(0);" class="btn btn-added color" data-bs-toggle="modal" data-bs-target="#view-notes"><i
  class="fa-solid fa-arrow-down me-2"></i>Import Product</a>
</div>
</div>

<!-- /product list -->
<div class="card table-list-card">
  <div class="card-body">

    <div class="table-top">
      <div class="search-set">
        <div class="search-input">
          <a href="javascript:void(0);" class="btn btn-searchset"><i
          class="fa-solid fa-magnifying-glass"></i></a>
          <div class="dataTables_filter">
            <label>
              <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}" [ngModelOptions]="{standalone: true}" (ngModelChange)="searchData(searchDataValue)"
                type="search" class="form-control" placeholder="Search..." />
              </label>
            </div>
          </div>
        </div>
        <div class="search-path">
          <a class="btn btn-filter" id="filter_search" (click)="openFilter()"
            [ngClass]="{'setclose': filter === true}">
            <i class="fa-solid fa-filter filter-icon"></i>
            <span><img src="/img/icons/closes.svg" alt="img"></span>
          </a>
        </div>
        <div class="form-sort">
          <i class="fa-solid fa-sliders info-img"></i>
          <mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="space-select select"
            placeholder="Sort by Date">
            <mat-option value="Sort by Date">Sort by Date</mat-option>
            <mat-option value="14 09 23">14 09 23</mat-option>
            <mat-option value="11 09 23">11 09 23</mat-option>
          </mat-select>
        </div>
    </div>

    <!-- Filter -->
    <div class="card mb-0" id="filter_inputs" [ngClass]="{'d-block': filter, 'd-none': !filter}">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="row">

              <div class="col-lg-2 col-sm-6 col-12">
                <div class="input-blocks">
                  <i class="feather icon-box info-img"></i>
                  <mat-select [(ngModel)]="selectedValue2" [ngModelOptions]="{standalone: true}"
                    class="space-select select" placeholder="Choose Product">
                    <mat-option value="Choose Product">All Product</mat-option>
                    <mat-option value="Lenovo 3rd Generation">Lenovo 3rd Generation</mat-option>
                    <mat-option value="Nike Jordan">Nike Jordan</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-2 col-sm-6 col-12">
                <div class="input-blocks">
                  <i class="feather icon-stop-circle info-img"></i>
                  <mat-select [(ngModel)]="selectedValue3" [ngModelOptions]="{standalone: true}"
                    class="space-select select" placeholder="Choose Category">
                    <mat-option value="Choose Category">All Category</mat-option>
                    <mat-option value="Laptop">Laptop</mat-option>
                    <mat-option value="Shoe">Shoe</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-2 col-sm-6 col-12">
                <div class="input-blocks">
                  <i class="feather icon-git-merge info-img"></i>
                  <mat-select [(ngModel)]="selectedValue4" [ngModelOptions]="{standalone: true}"
                    class="space-select select" placeholder="Choose Sub Category">
                    <mat-option value="Choose Sub Category">All Sub Category</mat-option>
                    <mat-option value="Computers">Computers</mat-option>
                    <mat-option value="Fruits">Fruits</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-2 col-sm-6 col-12">
                <div class="input-blocks">
                  <i class="feather icon-stop-circle info-img"></i>
                  <mat-select [(ngModel)]="selectedValue5" [ngModelOptions]="{standalone: true}"
                    class="space-select select" placeholder="All Brand">
                    <mat-option value="All Brand">All Brand</mat-option>
                    <mat-option value="Lenovo">Lenovo</mat-option>
                    <mat-option value="Nike">Nike</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-2 col-sm-6 col-12">
                <div class="input-blocks">
                  <i class="fas fa-money-bill info-img"></i>
                  <mat-select [(ngModel)]="selectedValue6" [ngModelOptions]="{standalone: true}"
                    class="space-select select" placeholder="Price">
                    <mat-option value="Price">All Price</mat-option>
                    <mat-option value="$12500.00">TZS 0.00 - 12,500.00</mat-option>
                    <mat-option value="$12500.00">TZS 12,500.00 - 50,000.00</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-2 col-sm-6 col-12">
                <div class="input-blocks">
                  <a class="btn btn-filters ms-auto"> Filter </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Filter -->

    <div class="table-responsive product-list">
      <table class="table datanew">
        <thead>
          <tr matSort >
            <th class="no-sort">
              <label class="checkboxs"  (click)="selectAll(initChecked)">
                <input type="checkbox" id="select-all" [(ngModel)]="initChecked" >
                <span class="checkmarks"></span>
              </label>
            </th>
            <th mat-sort-header="product">Product</th>
            <th mat-sort-header="SKU">SKU</th>
            <th mat-sort-header="category">Category</th>
            <th mat-sort-header="brand">Brand</th>
            <!-- <th mat-sort-header="price">Price</th> -->
            <!-- <th mat-sort-header="unit">Unit</th> -->
            <!-- <th mat-sort-header="qty">Qty</th> -->
            <th mat-sort-header="createdBy">Created At</th>
            <th class="no-sort">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (product of productListy; track product) {
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" [(ngModel)]="initChecked">
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td>
                <div class="productimgname">
                  <a href="javascript:void(0);" class="product-img stock-img">
                    <img [src]="product.image ?? 'img/product-17.png'" alt="product">
                  </a>
                  <a href="javascript:void(0);">{{product.name}} </a>
                </div>
              </td>
              <td>{{product.name}} </td>
              <td>{{product.category}}</td>
              <td>{{product.brand}}</td>
              <!-- <td>{{product.price}}</td> -->
              <!-- <td>{{product.store}}</td> -->
              <!-- <td>{{product.qty}}</td> -->
              <td>
                <div class="userimgname">
                  <a href="javascript:void(0);" class="product-img">
                    <img src="img/avatar/no-dp-1.jpg" alt="product">
                  </a>
                  <a href="javascript:void(0);">{{product.created_at}}</a>
                </div>
              </td>
              <td class="action-table-data">
                <div class="edit-delete-action">
                  <a class="me-2 edit-icon  p-2" [routerLink] = "'/'+routes.viewProduct+'/'+product.id">
                    <i class="fa-solid fa-eye"></i>
                  </a>
                  <a class="me-2 p-2" [routerLink] = "'/'+routes.editProduct+'/'+product.id">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                  <a class="confirm-text p-2" href="javascript:void(0);" (click)=deleteTheProduct(product.id)>
                    @if (isDeletingProduct) {
                      <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                    @else {
                      <i class="fa-solid fa-trash"></i>
                    }
                  </a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <app-custom-pagination></app-custom-pagination>

  </div>
</div>
<!-- /product list -->


<!-- Import Product -->
<div class="modal fade" id="view-notes">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="page-wrapper-new p-0">
        <div class="content">
          <div class="modal-header border-0 custom-modal-header">
            <div class="page-title">
              <h4>Import Products</h4>
            </div>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body custom-modal-body">
            <form>
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="input-blocks">
                    <label>Product</label>
                    <mat-select [(ngModel)]="selectedValue24" [ngModelOptions]="{standalone: true}"
                      class="select" placeholder="Choose">
                      <mat-option value="Choose">Choose</mat-option>
                      <mat-option value="Bold V3.2">Bold V3.2</mat-option>
                      <mat-option value="Nike Jordan">Nike Jordan</mat-option>
                      <mat-option value="Iphone 14 Pro">Iphone 14 Pro</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="input-blocks">
                    <label>Category</label>
                    <mat-select [(ngModel)]="selectedValue25" [ngModelOptions]="{standalone: true}"
                      class="select" placeholder="Choose">
                      <mat-option value="Choose">Choose</mat-option>
                      <mat-option value="Laptop">Laptop</mat-option>
                      <mat-option value="Electronics">Electronics</mat-option>
                      <mat-option value="Shoe">Shoe</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="input-blocks">
                    <label>Satus</label>
                    <mat-select [(ngModel)]="selectedValue26" [ngModelOptions]="{standalone: true}"
                      class="select" placeholder="Choose">
                      <mat-option value="Choose">Choose</mat-option>
                      <mat-option value="Lenovo">Lenovo</mat-option>
                      <mat-option value="Bolt">Bolt</mat-option>
                      <mat-option value="Nike">Nike</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-6 col-12">
                  <div class="row">
                    <div>
                      <div class="modal-footer-btn download-file">
                        <a href="javascript:void(0)" class="btn btn-submit">Download Sample
                        File</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input-blocks image-upload-down">
                    <label> Upload CSV File</label>
                    <div class="image-upload download">
                      <input type="file">
                      <div class="image-uploads">
                        <img src="/img/download-img.png" alt="img">
                        <h4>Drag and drop a <span>file to upload</span></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-6 col-12">
                  <div class="mb-3">
                    <label class="form-label">Created by</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3 input-blocks">
                  <label class="form-label">Description</label>
                  <textarea class="form-control"></textarea>
                  <p class="mt-1">Maximum 60 Characters</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="modal-footer-btn">
                  <button type="button" class="btn btn-cancel me-2"
                  data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Import Product -->
